<div class="cd-pricing-container cd-has-margins">

  <div class="cd-pricing-switcher">
    <p class="fieldset">
      <input type="radio" name="duration-2" value="monthly" id="monthly-2" checked="">
      <label for="monthly-2">Monthly</label>
      <input type="radio" name="duration-2" value="yearly" id="yearly-2">
      <label for="yearly-2">Yearly</label>
      <span class="cd-switch"></span>
    </p>
  </div>

  <ul class="cd-pricing-list cd-bounce-invert">
    <li>
      <app-pricing-plan></app-pricing-plan>
    </li>
    <li class="cd-popular">
      <app-pricing-plan></app-pricing-plan>
    </li>
    <li>
      <app-pricing-plan></app-pricing-plan>
    </li>
  </ul>

</div>
