<div class="cd-pricing-container cd-has-margins">

  <div class="cd-pricing-switcher">
    <p class="fieldset">
      <input type="radio" name="duration-2" value="monthly" [id]="'monthly-' + product.id" checked="">
      <label [for]="'monthly-' + product.id">Monthly</label>
      <input type="radio" name="duration-2" value="yearly" [id]="'yearly-' + product.id">
      <label [for]="'yearly-' + product.id">Yearly</label>
      <span class="cd-switch"></span>
    </p>
  </div>

  <h1 style="color: white; text-align: center; text-transform: uppercase;">
    {{product.name}}
  </h1>
  <ul class="cd-pricing-list cd-bounce-invert">
    <li class="cd-popular" *ngFor="let pricingPlan of pricingPlans">
      <app-pricing-plan [pricingPlan]="pricingPlan">
      </app-pricing-plan>
    </li>
  </ul>

</div>
